body {
    background-color: rgb(67, 114, 67);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#score {
    font-size: 120px;
    margin: 40px;
}

img {
    width: 280px;
    height: 280px;
    margin: 0px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10%;
    width: 100%;
}

.button-container > button {
    background-color: transparent;
    border-radius: 15px;
    border: 4px solid black;
    transition-duration: 300ms;
    width: 340px;
    height: 340px;
}

.message {
    font-size: 36px;
}

.submit {
    width: 240px;
    height: 60px;
    border-radius: 5%;
    margin: 80px;
    font-size: 24px;
    background-color: rgb(165, 196, 165); 
}

.button-container > button:hover {
    background-color: rgb(85, 145, 85);
}

.button-container > button.selected {
    border: 4px solid rgb(29, 77, 20);
    width: 360px;
    height: 360px;
    background-color: rgb(85, 148, 85);
}